// customize bootstrap variables here:
@import "compass/css3";
@import "compass/utilities";
@import "variables";
@import "_bootstrap";
@import "_font-awesome";

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding: 60px 0;
}

.nav .avatar a, .nav .avatar a:hover {
    position: relative;
    height: 20px;
    width: 10px;
    margin-top: 10px;
    border: 1px solid #EEE;
    @include border-radius(2px);

    img {
        height: 30px;
        width: 30px;
        position: absolute;
        top:0;
        left:0;
        background-size: 100%;
    }
}

.product {
    display: block;
    padding: $thumbnail-padding;
    margin-bottom: $line-height-computed;
    line-height: $line-height-base;
    background-color: $thumbnail-bg;
    border: 1px solid $thumbnail-border;
    border-radius: 0;
    @include transition(all .2s ease-in-out);

    > img,
    a > img {
        @include img-responsive();
        margin-left: auto;
        margin-right: auto;

    }

    .product-img-responsive {
        height: auto;
        width: 100%;
    }

    .product-image{
        position: relative;
        display: block;
    }

    .product-image >span:first-child {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        border: 3px solid #000;
        width: 100%;
        height: 100%;
        @include opacity(0);
        @include box-sizing(border-box);
        @include transition(all 140ms linear);
    }

    .product-image >span:hover {
        @include opacity(1);
    }

    .caption {
        padding: $thumbnail-caption-padding;
        color: $thumbnail-caption-color;
    }

    &:hover,
    &:focus,
    &:active {
        border: 1px solid #EEE;
    }

    .product-badge {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        left: 0;
        background-color: #FFC;
    }

    .product-progress-bar{
        height: 10px;
    }

}


// profile dashboard

.profile {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;

    > img {
        display: block;
        border: 10px solid rgba(255, 255, 255, 0.3);
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    > p {
        text-align: center;
        color: #fff;
    }
}

.list-group-profile {

    > .list-group-item {
        &:first-child {
            @include border-top-radius(0);
        }
    }
}

// crowdfunding detail styles

.bg-image {
    position: relative;
    margin-bottom: 15px;
}

.bg-image img {
    display: block;
    width: 100%;
    min-height: 180px;
    margin: 0 auto;
}

.bg-image h1 {
    position: absolute;
    text-align: center;
    top: 50px;
    left: 0;
    right: 0;
}

.bg-image p {
    position: absolute;
    text-align: center;
    top: 120px;
    left: 0;
    right: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.gallery{

    img {
        @include box-shadow(rgba(0,0,0,0.75) 0px 2px 6px 2px);
        @include filter(grayscale(100%));
        margin-bottom: 10px;
    }
    img:hover {
        @include filter(grayscale(0%));
    }
}

// prizes styles

.prize {
    display: block;
    padding: 10px 20px;
    margin-bottom: $line-height-computed;
    line-height: $line-height-base;
    background-color: $thumbnail-bg;
    color: #EEE;
    border: 1px solid $thumbnail-border;
    border-radius: 0;
    @include transition(all .2s ease-in-out);

    &:hover,
    &:focus,
    &:active {
        background-color: $thumbnail-border;
        color: #000;
        border: 1px solid $thumbnail-bg;
        text-decoration: none;
    }

}

// backers styles

.backer {
    display: block;
    padding: $thumbnail-padding;
    margin-bottom: $line-height-computed;
    line-height: $line-height-base;
    background-color: $thumbnail-bg;
    border: 1px solid $thumbnail-border;
    border-radius: 0;
    @include transition(all .2s ease-in-out);

    > img,
    a > img {
        @include img-responsive();
        margin-left: auto;
        margin-right: auto;

    }

    .backer-img-responsive {
        height: auto;
        width: 100%;
    }

    .backer-image{
        position: relative;
        display: block;
    }

    .backer-image >span:first-child {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        border: 3px solid #000;
        width: 100%;
        height: 100%;
        @include opacity(0);
        @include box-sizing(border-box);
        @include transition(all 140ms linear);
    }

    .backer-image >span:hover {
        @include opacity(1);
    }

    .caption {
        padding: $thumbnail-caption-padding;
        color: $thumbnail-caption-color;
    }

    &:hover,
    &:focus,
    &:active {
        border: 1px solid #EEE;
    }

    .backer-badge {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        left: 0;
        background-color: #FFC;
    }

}
