// customize bootstrap variables here:
@import "variables";
@import "_bootstrap";
@import "_bootstrap-switch.scss";

body {
  padding: 60px 0;
}

.poll{

    .question{
        border-bottom: 1px solid #EEE;
    }

    .options{
        .form-group{
            display: block;

            .option {
                margin: 20px 0;
            }
            .radio, .checkbox {
                label {
                    float: left;
                    font-size: 18px;
                    font-weight: normal;
                    cursor: pointer;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
