// customize bootstrap variables here:
@import "_variables_navbar_brand_img.scss";
@import "_bootstrap_brand_img";

.navbar-center {
    margin-left: -$logo-width/2 !important;
    position: absolute;
    left: 50%;
}
