// customize bootstrap variables here:
@import "compass/css3";
@import "compass/utilities";
@import "variables";
@import "_bootstrap";
@import "_font-awesome";

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding: 60px 0;
}

@media screen and (max-width: $screen-xs-max) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.product {
    display: block;
    padding: $thumbnail-padding;
    margin-bottom: $line-height-computed;
    line-height: $line-height-base;
    background-color: $thumbnail-bg;
    border: 1px solid $thumbnail-border;
    border-radius: 0;
    @include transition(all .2s ease-in-out);

    > img,
    a > img {
        @include img-responsive();
        margin-left: auto;
        margin-right: auto;

    }

    .product-img-responsive {
        height: auto;
        width: 100%;
    }

    .product-image{
        position: relative;
        display: block;
    }

    .product-image >span:first-child {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        border: 3px solid #000;
        width: 100%;
        height: 100%;
        @include opacity(0);
        @include box-sizing(border-box);
        @include transition(all 140ms linear);
    }

    .product-image >span:hover {
        @include opacity(1);
    }

    .caption {
        padding: $thumbnail-caption-padding;
        color: $thumbnail-caption-color;
    }

    &:hover,
    &:focus,
    &:active {
        border: 1px solid #EEE;
    }

    .product-badge {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        left: 0;
        background-color: #FFC;
    }


    .flag-horizontal {
        position: absolute;
        top: 20px;
        padding: 8px 4px;
        font-size: 13px;
        color: #fff;
        text-align: center;
        font-weight: bold;
    }

    .flag-horizontal:after {
        border: 34px solid #ffab1b;
        border-bottom-color: #f60;
        border-bottom-width: 17px;
        border-left-width: 0;
        border-right-color: transparent;
        border-right-width: 14px;
        border-top-color: #f60;
        border-top-width: 17px;
        content: " ";
        height: 0;
        left: 40px;
        position: absolute;
        top: 0;
        width: 0;
    }

    .flag {
        position: absolute;
        top: 0;
        padding: 8px 4px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        font-weight: bold;
    }

    .flag:after {
        border: 34px solid #ffab1b;
        border-bottom-color: transparent;
        border-bottom-width: 14px;
        border-left-color: #f60;
        border-left-width: 19px;
        border-right-color: #f60;
        border-right-width: 19px;
        border-top-width: 0;
        bottom: -14px;
        content: " ";
        height: 0;
        left: 0;
        position: absolute;
        width: 0;
    }

    .discount {
        right: 10px;
        width: 38px;
    }

    .discount-horizontal {
        width: 40px;
    }

    .discount-level-1 {
        background: #f60;
    }
}

.space10 {
    margin-top:10px;
}

.space20 {
    margin-top:20px;
}

.space30 {
    margin-top:30px;
}


.badge-notify{
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    vertical-align: baseline;
    color: white;
    background-color: red;
    position: relative;
    white-space: nowrap;
    text-align: center;
    top: -10px;
    left: -5px;
    @include border-radius(10px);
}
